NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@192.168.1.111:5432/belajar_typesciprt_restful_api?schema=public
PORT=3000
CORS_ORIGIN=http://localhost:3000,http://localhost:5173,http://localhost:8080
JWT_SECRET=cmc1dlvs60000tay45s3o8dvlcmc1dlvs60000tay45s3o8dvl
JWT_EXPIRES_IN=30ds